.login_page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_header {
  color: #001219;
}

.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  height: 70%;
  padding: 2rem;
  box-shadow: 1rem 1rem 2rem #001219;
  border-radius: 5px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.log_button {
  width: 6rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: #001219;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.log_button:hover {
  background-color: #9b2226;
}

.login_box {
  margin-top: 2rem;
}

.profile_box {
  margin-top: 2rem;
}

.log_input {
  height: 2rem;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 5px;
  color: #001219;
}

.modal {
  position: absolute;
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  width: 50rem;
  height: 50rem;
}

.signup_header {
  color: #001219;
  font-size: 2.5rem;
}
