.blog_section {
  padding: 2rem;
}

/* BlogSpinner.module.css */
.blogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.cardContent {
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
