.blog_section {
  padding: 2rem;
}

.spin_container {
  margin: 2rem;
}

.blog_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #001219;
  border-radius: 8px;
  gap: 1rem;
  cursor: pointer;
  height: 30rem;
}

.blog_image {
  border-radius: 8px 8px 0 0;
}

.blog_info_container {
  padding: 0 1rem;
}

.blog_text_container {
  height: 6rem;
  overflow-y: hidden;
  margin-bottom: 1rem;
}

/* .blog_card_title {
  font-size: 1.5rem;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.blog_card_text {
  font-size: 1rem;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog_image_wrapper {
  width: 100%;
  height: 2rem;
}

.blog_card_button {
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  background: #001219;
  color: #fff;
}
