.blog_section {
  padding: 2rem;
}

.blog_card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 1rem;
  cursor: pointer;
  color: #001219;
  height: 35rem;
}

.blog_text_container {
  height: 7rem;
}

.blog_card_title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #001219;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog_card_text {
  font-size: 1rem;
  color: #001219;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog_image_wrapper {
  width: 100%;
  height: 2rem;
}

.blog_card_button {
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  background: #001219;
  color: #fff;
}
