.blogContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  color: #001219;
}

.blogList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #001219;
  flex-wrap: wrap;
}

.blogCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 18rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blogImgWrapper {
  width: 100%;
  height: 5rem;
}

.blogimg {
  width: 100%;
  height: 100%;
}

.blogrghtwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin: 1rem;
}

.blogTextWrapper {
  height: 4rem;
  overflow: hidden;
}

.blog-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
