.accessories_section {
  border: 1px solid blue;
  padding: 2rem 0;
}

.accessory_swiper {
  padding: 0 2rem;
}

.accessory_card {
  height: 8rem;
  width: 15rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #9b2226;
  border-radius: 20px;
}

.selected_product {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
}

.selected_product_info {
  border: 1px solid green;
  color: black;
}
