.accessories_section {
  padding: 0 2rem;
  padding-bottom: 2rem;
}

.accessory_swiper {
  padding: 2rem 2rem;
  margin: 0 2rem;
}

.accessory_card {
  height: 8rem;
  width: 13rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 15px 15px 15px #979797;
}

.selected_product {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.selected_product_button_container {
  display: flex;
  gap: 1rem;
}

.selected_product_info {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 30%;
  height: 100%;
  color: black;
}

.selected_product_header {
  font-size: 4rem;
}

.selected_product_name {
  font-size: 1.5rem;
}

.selected_product_desc {
  font-size: 0.8rem;
}

.selected_product_button {
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  background: #001219;
  font-weight: bold;
  cursor: pointer;
}

.selected_product_image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  transition: all 0.3s ease;
  border-left: 1.5px solid #001219;
  border-top: 1.5px solid #001219;
}
