.footer {
  background: #001219;
}

.footer_inner {
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.footer_list_wrapper {
  display: flex;
  gap: 2rem;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_list li {
  list-style-type: none;
}

.footer_span {
  height: 0.1rem;
  width: 100%;
  background-color: #fff;
}

.footer_bot {
  font-size: 0.7rem;
}
